#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]
#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
bind-address=0.0.0.0
[client]
socket=/home/mysql/mysql.sock
[mysqld]
datadir=/home/mysql/
log-bin=/home/mysql-bin/binlog.position
socket=/home/mysql/mysql.sock
max_connections=1100
innodb_buffer_pool_size=293G
innodb_flush_neighbors=0
innodb_log_file_size=256M
innodb_flush_method=O_DIRECT


